.mainbody{
    width: 350px;
    height: 488px;
    border: solid 1px;
    background-color: gray;
}


#display{
    width: 300px;
    height: 70px;
    font-size: 34px;
    font-weight: bolder;
    margin-left: 19px;
    margin-top: 41px;
    margin-bottom: 19px;
    outline: transparent;
    pointer-events: none;
}
.buttons{

    width: 66px;
    height: 64px;
    float: left;
    margin-left: 16px;
    margin-top: 15px;
    font-size: 32px;

}